extends layout

block content
  form.form-horizontal(action='/login', method='post')
    fieldset
      legend 用户登录
      .form-group
        label.col-sm-2.control-label(for='username') 用户名
        .col-sm-10
          input#username.form-control(type='text', name='username')
      .form-group
        label.col-sm-2.control-label(for='password') 口令
        .col-sm-10
          input#password.form-control(type='password', name='password')
      .form-group
        .col-sm-offset-2.col-sm-10
          button.btn.btn-primary(type='submit') 登录