form.well.form-inline(method='post', action='/post', style='text-align:center;')
  .col-sm-10
    input.form-control(type='text', style='width:100%;', name='post')
  button.btn.btn-success(type='submit')
    span.glyphicon.glyphicon-comment(aria-hidden='true')
    | 发言